// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles 
body,
html, 
.body {
  background: #f3f3f3 !important;
}

.container.header {
  background: #f3f3f3;
}

.body-drip {
  border-top: 8px solid #663399;
}

// Full Width Headers
.header {
  background: #cccccc;
}

.header .columns {
  padding-bottom: 0;
}

.background-fone {
  background: $light-gray;
}

.background-fone1 {
  background:#e1e1e1;
}


.background-fone2 {
  background: #666666;
}

.text {
  color: #666666;
}

.text1 {
  color: #999999 !important;
}

.text2 {
  color: #fff;
  line-height: 24px;
}

.size-text {
  font-size: 12px;
  line-height: 24px;
}


.text-color {
  color: #ffffff;
}


.hr-width {
  width: 540px;
}


.offset-right {
  padding: 0 0 15px 25px;
}
.offset-left1 {
padding-left: 8px !important;
}

.offset-left2 {
  padding-left: 30px !important;
  }

.header p {
  color: #fff;
  padding-top: 15px;
}


.header .wrapper-inner {
  padding: 0;
}



.header .container {
  background: transparent;
}

// Social Media
table.button.facebook table td {
  background: #3B5998 !important;
  border-color: #3B5998;
}

table.button.twitter table td {
  background: #1daced !important;
  border-color: #1daced;
}

table.button.google table td {
  background: #DB4A39 !important;
  border-color: #DB4A39;
}

.wrapper.secondary {
  background: #f3f3f3;
}